.card {
    height: 200px;
    width: 200px;
    color: black;
    background-color: grey;
}

.reservation-info {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
    width: 200px;
}